<section class="p-2 d-flex justify-content-center" >
    <div class="card w-50 border-secondary" #input>
        <div class="card-body">
            <form [formGroup]="myForm">
                <div class="mb-2" *ngIf="clickedNew">
                    <input class="form-control text-white bg-dark border-0" formControlName="noteTitle" type="text" placeholder="Title" aria-label="default input example">
                </div>
                
                    <div class="mb-2" #toggleButton  (click)="clickNew()">
                        <input class="form-control text-white bg-dark border-0" formControlName="noteBody" type="text" placeholder="Add note here..." aria-label="default input example">
                    </div>
                    <!-- <button class="btn btn-dark" id="bgColor" type="button"><i class="fa fa-eyedropper fa-lg" aria-hidden="true"></i></button> -->
                    <!-- <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color"> -->
                    <span *ngIf="clickedNew">
                    <div class="mt-0 d-flex flex-row">
                        <button class="btn btn-dark btn-circle not-allowed me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remid me"><i class="fa fa-bell" aria-hidden="true"></i> </button>
                        <button class="btn btn-dark btn-circle not-allowed me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Collaborator"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
                        <button (click)="openColors=!openColors" class="btn btn-dark btn-circle me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Background colour"><i class="fa fa-eyedropper" aria-hidden="true"></i></button>
                        
                        <button (click)="openImages=!openImages" class="btn btn-dark btn-circle me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Background image"><i class="fa fa-image" aria-hidden="true"></i></button>
                        <button class="btn btn-dark btn-circle me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="More"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                        <button class="btn btn-dark btn-circle not-allowed me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Undo"><i class="fa fa-undo" aria-hidden="true"></i></button>
                        <button class="btn btn-dark btn-circle not-allowed me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Redo"><i class="fa fa-repeat" aria-hidden="true"></i></button>
                        <button class="btn btn-dark flex-row-reverse" type="submit" (click)="onSubmit(myForm)">Close</button>
                    </div>
                    <div class="d-flex flex-row mt-2">
                        <ng-container  *ngIf="openColors">
                            <div class="col"  *ngFor="let color of bgColors | keyvalue">
                                <button class="btn btn-dark btn-circle me-2" [ngStyle]="{'background-color': color.key}" (click)="setColor(color.value)"></button>
                            </div>
                        </ng-container>
                    </div> 
                    <div class="d-flex flex-row mt-2">
                        <ng-container *ngIf="openImages">
                            <div class="col"  *ngFor="let img of bgImages | keyvalue">
                                <button class="btn btn-dark btn-circle me-2" [ngStyle]="{'background': ' url(' + img.value  + ') no-repeat 0 0', 'background-size': '100%'}" (click)="setImage(img.value)"></button>
                            </div>
                        </ng-container>
                    </div>
                </span>
            </form>
        </div>
    </div>
</section>

