.details-panel {
    margin-top: 56.8px !important;
    width: 49.2px !important;
    background-color: #212529;
}

@media only screen and (max-width: 415px) {
    .details-panel {
        margin-top: 94.4px !important;
    }
}

.fa-bars {
    color: white;
}