<div class="sidebar">
    <div class="offcanvas-body">
        <div class="d-flex">
            <div ngbNav #nav="ngbNav" class="nav-pills flex-column" orientation="vertical">
                <ng-container ngbNavItem="top">
                    <button type="button" class="btn btn-dark btn-circle mt-2"><i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i></button>
                </ng-container>
                <ng-container ngbNavItem="middle">
                    <button type="button" class="btn btn-dark btn-circle mt-2"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
                </ng-container>
                <ng-container ngbNavItem="bottom">
                    <button type="button" class="btn btn-dark btn-circle mt-2"><i class="fa fa-bell-o fa-lg" aria-hidden="true"></i></button>
                </ng-container>
                <ng-container ngbNavItem="next">
                    <button type="button" class="btn btn-dark btn-circle mt-2"><i class="fa fa-file-archive-o fa-lg" aria-hidden="true"></i></button>
                </ng-container>
                <ng-container ngbNavItem="last">
                    <button type="button" class="btn btn-dark btn-circle mt-2"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
                </ng-container>
            </div>
        </div>
    </div>
</div>

