
<section class="container-fluid">
    <app-nav-bar  (newItemEvent)="addItem($event)" (searchEvent)="searchItem($event)" [containerRef]="bottom"></app-nav-bar>
    <section class="main">
        <div #bottom class="d-flex">
            <div [style.margin-left]="item ? '10%' : '0'"  class="rhs">
                <!-- <app-input [isClicked]="clicked" [openedNote]="note"></app-input> -->
                <app-add-note></app-add-note>
                <app-notes [searchText]="searchString"></app-notes>
            </div>
        </div>
    </section>
</section>
